body {
  background-color: rgb(223, 223, 154);
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.heading {
  font-family: sans-serif, 'Ubuntu';
  padding: 5px;
}

.wrapper-er,
.home-wrapper {
  width: 80%;
  margin: 0 auto;
}

a {
  padding: 0 10px;
  color: #2a93b1;
  border-right: 2px solid black;
}

a:nth-child(3) {
  border-right: none;
}

.home-title,
.para {
  padding-left: 10px;
}

.para {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.quotes {
  text-align: center;
  margin: 0 auto;
  width: 70%;
}

.wrapper-calc {
  width: 79%;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
